:root {
  --cookies-bg-color: var(--color-bg-alt);
  --cookies-text-color: var(--color-text-on-primary);
  --cookies-font-size: 20px;
  --cookies-font-family: var(--font-body);
  --cookies-width: 800px;
  --cookies-fade-delay: 1000;
  --cookies-grid: horizonal;
  --cookies-position: bottom-right;
}

.notification,
.notification * {
  box-sizing: border-box;
}

.notification {
  font-family: var(--cookies-font-family);
  position: fixed;
  bottom: 30px;
  right: 20px;
  background-color: var(--color-bg-alt);
  color: var(--color-text-on-primary);
  width: 90%;
  max-width: 650px;
  border-radius: 24px;
  padding: 10px 30px;
  transition: 0.3s all;
  z-index: 200;
  opacity: 1;
  transform: translateY(0);
  font-size: 16px;
}

.notification-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notification--hidden {
  opacity: 0;
  z-index: -1;
  transform: translateY(25px);
}

.notification-text {
  max-width: 80%;
  line-height: 1.3;
  padding: 10px 0;
  user-select: none;
}

.notification-text a {
  color: var(--color-text-on-primary);
  text-underline-offset: 3px;
}

.notification-text p ~ p {
  margin-top: 10px;
}

.notification-text a:hover {
  opacity: 0.8;
}

.notification-btn {
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: transparent;
  font-size: 50px;
  margin-left: auto;
  transition: 0.3s all;
  border-radius: 32px;
  color: inherit;
}

.notification-btn:hover {
  opacity: 0.8;
}

.js-notification-vertical .notification-btn {
  margin-left: 0;
  padding: 10px 0;
  font-size: inherit;
}

.js-notification-vertical .notification-container {
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}

@media screen and (max-width: 650px) {
  .notification {
    right: 50%;
    transform: translateX(50%);
  }
}

@media screen and (max-width: 480px) {
  .notification-btn {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    font-size: 25px;
    margin-top: 10px;
  }

  .notification-text {
    max-width: 100%;
  }

  .notification-container {
    flex-wrap: wrap;
    text-align: center;
  }

  .notification {
    border-radius: 20px;
    padding: 10px;
  }
}
