@import './styles/variables.css';
@import './styles/base.css';
@import './styles/section.css';
@import './styles/header.css';
@import './styles/hero.css';
@import './styles/about.css';
@import './styles/coaches.css';
@import './styles/pricing.css';
@import './styles/gallery.css';
@import './styles/reviews.css';
@import './styles/contacts.css';
